<!doctype html>
<html lang="en">
    <head>
        <title>QuizzJS</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h1>QuizzJS <small>Scannez pour commencer...</small></h1>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <img width="600px" src="/new-player"/>
                </div>
            </div>
            <div id="listeUser" class="row">

            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://<%=url%>');
            socket.on('new-user', function(user) {
                $('#listeUser').append("<div class='col-md-3'><img src='/img/question.png' style='padding:15px' width='40%'/>"+user+"</div>")
            })
        </script>
    </body>
</html>
