<!doctype html>
<html lang="en">
<head>
    <title>QuizzJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/telephone.css">
</head>
    <body>
        <div id="user-view" class="pages"></div>
        
        <script>
            var GLOBAL = {
                url : '<%= url %>',
                token: '<%= room %>',
            };
        </script>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/react.js"></script>
        <script src="/js/libs/react-dom.js"></script>
        
        <script src="/js/user_js.react.js"></script>
    </body>
</html>
