body{
    background-color: #000;
    color: white;
}

img{
    background-color: white;
}

.user{
    border: white 1px solid;
    margin: 5px 15px;
    padding: 5px;
}

.badge-display{
    float: right;
    font-size: 24px;
    padding: 5px 10px;
    margin-top: 2px;
}