* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,textarea {
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
}

html, body {
    margin: 0;
    height: 100%;    
}


.wrapper {
    height: 100%;
}

/* login form */


/* pad */
.btn-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-wrapper .btn{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
}

.btn-wrapper .btn:active{opacity: .8;}

.btn-wrapper .btn:first-child{background-color: #8BB600;}
.btn-wrapper .btn:nth-child(2){background-color: #D1167B;}
.btn-wrapper .btn:nth-child(3){background-color: #F6BA00;}
.btn-wrapper .btn:nth-child(4){background-color: #00A3E7;}