* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,textarea {
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
}

html, body {
    margin: 0;
    height: 100%;    
    font-family: sans-serif;
}

#user-view{height: 100%;}

/* login form */
.login-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-wrapper h3{text-align: center;}

.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.login-form button{
    font-size: 20px;
    width: 80%;
    border: none;
    height: 50px;
    margin-top: 20px;
    background-color: #8BB600;
    color: #fff;
}

.login-form button:active{opacity: .8;}

.login-form input[type='text']{
    width: 80%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}



/* pad */

.pad-wrapper{height: 100%;}

.btn-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-wrapper .btn{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
}

.btn-wrapper .btn:active{opacity: .8;}

.btn-wrapper .btn:first-child{background-color: #69B854;}
.btn-wrapper .btn:nth-child(2){background-color: #6AC0E0;}
.btn-wrapper .btn:nth-child(3){background-color: #EBAD41;}
.btn-wrapper .btn:nth-child(4){background-color: #D1534C;}

.recap-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}